    <header>
        <h1>Fashion</h1>
        <div class="header-list">
        <ul>
            <li><%= link_to "服装一覧", cloths_path %></li>
            <li><%= link_to "新規投稿",new_cloth_path %></li>
        </ul>
        </div>
    </header>
<h1>Ideal Coordination</h1>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>

<h2>服装を検索</h2>
    <%= form_tag({controller:"cloths",action:"index"}, method: :get) do %>
        <%= text_field_tag :search %>
        <%= submit_tag '検索する'  %>
    <% end %>

<% if user_signed_in? %>
<%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>
<%= link_to "新規投稿へ", new_cloth_path %>

<%= stylesheet_link_tag 'index', :media => "all" %>

<h3>服装一覧</h3>
<div class="cloths-container">

    <% @cloths.each do |t| %>
        <div class="cloth">
            <p><%= image_tag t.image_url, size: "240x300" if t.image? %></p>
            <p><%= t.user.username %></p>
            <%= t.tops %>
            <%= t.outer %>
            <%= t.pants %>
            <%= t.color %>
            <%= t.size %>
            <%= t.price %>
            <%= t.brand %>
            <%= t.place %>

        <p><% if user_signed_in? %>
            <% if current_user.already_liked?(t) %>
                <%= link_to cloth_like_path(id: t.id, cloth_id: t.id), method: :delete do %>
                    <i class="fas fa-heart"></i><%= t.likes.count %>
                <% end %>
            <% else %>
                <%= link_to cloth_likes_path(id: t.id, cloth_id: t.id), method: :post do %>
                    <i class="far fa-heart"></i><%= t.likes.count %>
                <% end %>
            <% end %>
        <% else %>
            <i class="far fa-heart"></i><%= t.likes.count %>
        <% end %></p>
            <p><%= link_to "詳細へ", cloth_path(t.id) %></p>
            <% if user_signed_in? && current_user.id == t.user_id %>  
                <%= link_to "編集する", edit_cloth_path(t.id) %>
                <%= button_to "削除する", cloth_path(t.id), method: :delete %>
            <% end %> 
        </div>
    <% end %>
</div>