<%= stylesheet_link_tag 'new', :media => "all" %>
<h1>Ideal Coordination</h1>
<h3>新規Cloth</h3>
<%= form_for @cloth do |f| %>
    <div class="field">
        <%= f.label :tops %>
        <%= f.select :tops,
        [["Tシャツ/カットソー", "Tシャツ/カットソー"],
        ["シャツ/ブラウス", "シャツ/ブラウス"],
        ["ニット/セーター/カーディガン", "ニット/セーター/カーディガン"],
        ["ベスト", "ベスト"],
        ["パーカー", "パーカー"],
        ["スウェット", "スウェット"],
        ["その他のトップス", "その他のトップス"]], include_blank: "選択してください" %>
        <%= f.label :outer %>
        <%= f.select :outer,
        [["ジャケット", "ジャケット"],
        ["ブルゾン", "ブルゾン"],
        ["ダウンジャケット", "ダウンジャケット"],
        ["コート", "コート"],
        ["スタジャン", "スタジャン"],
        ["セットアップ", "セットアップ"],
        ["その他のアウター", "その他のアウター"]], include_blank: "選択してください" %>
        <%= f.label :pants %>
        <%= f.select :pants,
        [["デニムパンツ", "デニムパンツ"],
        ["カーゴパンツ", "カーゴパンツ"],
        ["スラックス", "スラックス"],
        ["チノパンツ", "チノパンツ"],
        ["その他のパンツ", "その他のパンツ"]], include_blank: "選択してください" %>
        <%= f.label :color %>
        <%= f.select :color,
        [["赤", "赤"],
        ["青", "青"],
        ["黄", "黄"],
        ["緑", "緑"],
        ["黒", "黒"],
        ["白", "白"],
        ["グレー", "グレー"],
        ["茶", "茶"],
        ["ベージュ", "ベージュ"],
        ["オレンジ", "オレンジ"],
        ["その他", "その他"]], include_blank: "選択してください" %>
        <%= f.label :size %>
        <%= f.select :size,
        [["S", "S"],
        ["M", "M"],
        ["L", "L"],
        ["XL", "XL"],
        ["その他", "その他"]], include_blank: "選択してください" %>
        <p><%= f.label :price %><p>
        <%= f.text_field :price, :size => 50 %>
        <p><%= f.label :brand %><p>
        <%= f.text_field :brand, :size => 50 %>
        <p><%= f.label :place %><p>
        <%= f.text_field :place, :size => 50 %>
    </div>
    <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image %>
    </div>
    <%= f.submit "投稿する" %>
<% end %>
<%= link_to "服装一覧に戻る", cloths_path %>